@import '../scss-components/scss-variables';
@import '../scss-components/scss-mixins';

#sign
{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: $deepBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    #signText
    {
        text-align: center;
        padding: 50px;
        @include font;
        font-size: 13px;
        color: $babyBlue;
    }
}