@import '../scss-components/scss-variables';  //boje
@import '../scss-components/scss-mixins';

#menu
{
    position: relative;
    width: 100%;
    background-color: $deepBlue;
    //padding: 10px 0px;
    border-bottom: 2px solid $northernSky;
    display: flex;
    justify-content: center;
    align-items: center;
    #menuContent
    {
        z-index: 6;
        background-color: #2460A7FF;
        width: 100%;
        padding: 10px 0px;
        #menuLeft
        {
            a
            {
                color: $babyBlue;
                text-decoration: none;
            }

            display: flex;
            float: left;
            .centerLeft
            {
                margin-left: 25px;
                width: fit-content;
                height: 70px;
                font-size: 19px;
                font-family: 'Kanit', sans-serif;
                color: #B3C7D6FF;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: default;
            }
            #menus
            {
                display: none;
            }

            #menus, #mobiles, #tablets, #multimedia
            {
                position: relative;
            }
            
            #mobilesHover, #tabletsHover, #multimediaHover, #menuMQ
            {
                
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #typeOfMobile, #typeOfTablet, #typeOfMultimedia, #typeOfMenu
            {
                display: none;
                position: relative;
                width: 150px;
                height: fit-content;
                background-color: $deepBlue;
                position: absolute;
                top: 117%;
                border: 2px solid $northernSky;
                border-radius: 7px;
                text-align: center;
                font-size: 17px;
                transition: 1s;

                #mTMobile, #mTTablet, #mTMultimedia
                {
                    position: relative;
                    #underTriangleLeft
                    {
                        display: none;
                        height: 100%;
                        width: 20px;
                        position: absolute;
                        right: -12px;
                        top: 0px;
                        #triangleLeft
                        {
                            position: relative;
                            top: 25%;
                            right: 3px;
                            border: 2px solid $northernSky;
                            width: 20px;
                            height: 20px;
                            background-color: $northernSky;
                            clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
                        }   
                    }

                    #typeOfMobileOnResize, #typeOfTabletOnResize, #typeOfMultimediaOnResize
                    {
                        display: none;
                        position: relative;
                        width: 150px;
                        height: fit-content;
                        background-color: $deepBlue;
                        color: #B3C7D6FF;
                        position: absolute;
                        top: -5%;
                        left: 108%;
                        border: 2px solid $babyBlue;
                        border-radius: 7px;
                        text-align: center;
                        font-size: 17px;
                        transition: 1s;

                        .typesOfMobilesMQ, .typesOfTabletsMQ, .typesOfMultimediaMQ
                        {
                            padding: 10px 0px;
                            border-bottom: 2px solid $northernSky;
                            cursor: pointer;
                            transition: .3s;
                        }
                        .typesOfMobilesMQ:hover, typesOfTabletsMQ:hover, .typesOfMultimediaMQ:hover
                        {
                            color: $deepBlue;
                            background-color: $northernSky;
                        }
                    }
                }

                #underTriangle
                {
                    width: 100%;
                    height: 25px;
                    position: absolute;
                    top: -24px;
                    #triangle
                    {
                        position: relative;
                        left: 41%;
                        border: 2px solid $northernSky;
                        width: 20px;
                        height: 20px;
                        background-color: $northernSky;
                        clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
                    }
                }
                .typesOfMobiles2, .typesOfTablets2, .typesOfMultimedia2
                {
                    padding: 10px 0px;
                    border-bottom: 2px solid $northernSky;
                    cursor: pointer;
                    transition: .3s;
                }

                .typesOfMobiles2:hover, .typesOfTablets2:hover, .typesOfMultimedia2:hover
                {
                    color: $deepBlue;
                    background-color: $northernSky;
                }
            }

            #start:hover, /*#mobilesHover:hover, #tabletsHover:hover, #multimediaHover:hover,*/ #aboutUs:hover/*, #menuMQ:hover*/
            {
                filter: brightness(.8);
            }

            @media only screen and (max-width: 1010px) {
                #mobiles, #tablets, #multimedia
                {
                    display: none;
                }
                #menus
                {
                    display: flex;
                }
            }
            @media only screen and (max-width: 700px) {
                #start, #aboutUs
                {
                    display: none;
                }
            }
        }

        #menuLeft2
        {
            display: none;
            float: left;
            .centerLeft2
            {
                margin-left: 25px;
                width: fit-content;
                height: 70px;
                font-size: 19px;
                font-family: 'Kanit', sans-serif;
                color: #B3C7D6FF;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: default;
                position: relative;

                #borderToMenu
                {
                    width: 100px;
                    height: 15px;
                    position: absolute;
                    bottom: -20%;
                }
            }

            #menuOnResize
            {
                display:none;
                position: absolute;
                left: 0px;
                top: 90px;
                width: 100%;
                background-color: $deepBlue;
                overflow: hidden;
                .border
                {
                    width: 100%;
                    height: 2px;
                    background: $northernSky;
                    //margin-left: 25px;
                }
                .menu2
                {
                    //border-bottom: 3px solid $northernSky;

                    #mobiles2, #tablets2, #multimedia2
                    {
                        padding: 15px 0px;
                        width: 100%;
                        font-size: 20px;
                        font-family: 'Kanit', sans-serif;
                        //margin-left: 25px;
                        color: $babyBlue;
                        text-align: center;
                        cursor: default;
                        display: flex;
                        align-items: flex-start;

                        .inline
                        {
                            width: fit-content;
                            display: flex;
                        }
                    }

                    #typesOfMobiles, #typesOfTablets, #typesOfMultimedia
                    {
                        display: none;
                        padding-left: 45px;
                        font-size: 15px;
                        flex-direction: column;
                        align-items: flex-start;

                        .types
                        {
                            padding: 5px;
                            font-family: 'Kanit', sans-serif;
                            color: $northernSky;
                            cursor: pointer;
                        }

                        .types:hover
                        {
                            color: $deepBlue;
                            background-color: $northernSky;
                        }
                    }

                    /*#typesOfMobiles:hover, #typesOfTablets:hover, #typesOfMultimedia:hover, #mobiles2:hover, #tablets2:hover, #multimedia2:hover
                    {
                        color: $deepBlue;
                        background-color: $northernSky;
                    }*/
                }
            }
        }
        
        #menuRight
        {
            float: right;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .centerRight
            {
                margin-right: 15px;
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #login ,#signup
                {
                    @include shapeOnBlue;
                    //@include animationForButtons
                }
                #login:hover, #signup:hover
                {
                    @include hoverOnBlue;
                }

                @media only screen and (max-width: 550px) {
                    #login ,#signup
                    {
                        margin-top: 5px;
                        width: 75px;
                        height: 25px;
                    }
                }
            }
        }
        @media only screen and (max-width: 550px) {
            #menuRight
            {
                flex-direction: column;
            }
        }
            
        @media only screen and (max-width: 500px) {
            #menuLeft
            {
                display: none;
            }
            #menuLeft2
            {
                display: flex;
            }
        }
    }
    @media only screen and (min-width: 1366px){
        #menuContent
        {
            width: 1366px;
        }
    }
}

#darkCurtainUnderMenu
{
    position: fixed;
    display: none;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: black;
    filter: opacity(.8);
}