<div id="loadingPage">
    <div id="loadingBar">
        <div>Loading</div>
        <div id="point1">.</div>
        <div id="point2">.</div>
        <div id="point3">.</div>
    </div>
    <br>
    <div id="circles">
        <div class="circle" id="first"></div>
        <div class="circle" id="second"></div>
        <div class="circle" id="third"></div>
        <div class="circle" id="fourth"></div>
        <div class="circle" id="fifth"></div>
        <div class="circle" id="sixth"></div>
        <!--<div class="circle" id="seventh"></div>
        <div class="circle" id="eighth"></div>
        <div class="circle" id="nineth"></div>
        <div class="circle" id="tenth"></div>-->
    </div>
    
</div>